@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Roboto:wght@400;700&display=swap');

body{
    background-color: #fff;
}

h1{
    font-family: 'Roboto', sans-serif;
    color:antiquewhite;
    font-size: 56px;
    font-weight: bold;
    text-transform: uppercase;
}
h2{
    font-family: 'Montserrat', sans-serif;
    color: #504b47;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
}
h3{
    font-family: 'Roboto', sans-serif;
    color: #504b47;
    font-size: 24px;
    font-weight: 500;
}
p{
    font-family: 'Montserrat', sans-serif;
    color: #504b47;
    font-size: 16px;
}
.bouton-1{
    background-color: #504b47;
    padding: 12px 25px;
    border-radius: 50px;
    text-decoration: none;
    color: #fff;
}
.bouton-2{
    text-decoration: none;
    color: #504b47;
    display: flex;
    justify-content: end;
    font-weight: 600;
}
.bouton-2 span{
    color: #F0122D;
}
.anav{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
}
nav a:hover{
    color: #F0122D;
}











.hero{
    background-image: url(../img/accueil/hero.webp);
    background-size: cover;
    background-position: center;
    padding: 160px 0;
    box-shadow: 0px 5px 10px 5px #504B47;
}
.title{
    font-size: 22px;
    font-weight: 600;
    color: #fff;
}
.img-pres{
    background-image: url(../img/accueil/presentation.jpg);
    background-size: cover;
    background-position: center;
}
.actus{
    background-color: #FDF8F0;
    padding: 50px 0;
}

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    } 
.div1 { grid-area: 1 / 1 / 2 / 4; }
.div2 { grid-area: 1 / 4 / 2 / 7; }
.div3 { grid-area: 1 / 7 / 2 / 10; }
.div4 { grid-area: 2 / 1 / 4 / 7; }
.div5 { grid-area: 1 / 10 / 3 / 13; }
.div6 { grid-area: 3 / 7 / 4 / 10; }
.div7 { grid-area: 3 / 10 / 4 / 13; }
.div8 { grid-area: 2 / 7 / 3 / 10; }

.bandeau{
    background-color: #504b47;
    margin-bottom: 50px;
    padding: 50px 0;
    color: #fff ;
}
.bandeau p{
    color: #fff;
}
.chiffre{
    font-size: 50px;
    font-weight: bold;
    color: #FBD799;
}
.contact{
    padding: 80px 0;
}






.hero-2{
    background-image: url(../img/accueil/hero-img.png);
    background-size: cover;
    background-position: center;
    padding: 150px 0;
    box-shadow: 0px 5px 10px 5px #504B47;
}





footer{
    background-color: #FDF8F0;
    padding: 40px 0;
}