@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Roboto:wght@400;700&display=swap');


/* STYLE DES TITRES ET PARAGRAPHES*/
h1{
    font-family: 'Roboto', sans-serif;
    color:antiquewhite;
    font-size: 56px;
    font-weight: bold;
    text-transform: uppercase;
}
h2{
    font-family: 'Montserrat', sans-serif;
    color: #504b47;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
}
h3{
    font-family: 'Roboto', sans-serif;
    color: #504b47;
    font-size: 24px;
    font-weight: 500;
}
p{
    font-family: 'Montserrat', sans-serif;
    color: #504b47;
    font-size: 16px;
}


/* STYLE DES LIENS DE LA NAVBAR */
.anav{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
}
nav a:hover{
    color: #F0122D;
}


/* STYLE DES BOUTONS */
.bouton-1{
    background-color: #504b47;
    padding: 12px 25px;
    border-radius: 50px;
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}
.bouton-1:hover{
    background-color: #FBD799;
    padding: 12px 25px;
    border-radius: 50px;
    text-decoration: none;
    color: #504B47;
    transition: 0.4s;
}
.bouton-2{
    text-decoration: none;
    color: #504b47;
    display: flex;
    justify-content: end;
    font-weight: 600;
}
.bouton-2 span{
    color: #FBD799;
}
.bouton-3{
    background-color: #FDF8F0;
    padding: 12px 25px;
    border-radius: 50px;
    text-decoration: none;
    color: #504B47;
    font-weight: 600;
}


/* Section Hero identiques à toutes les pages sauf acceuil */
.hero-2{
    background-image: url(../img/hero2.webp);
    background-size: cover;
    background-position: center;
    padding: 150px 0;
    box-shadow: 0px 5px 10px 5px #504B47;
}


/* Section Footer identique pour toutes les pages */
footer{
    margin: 40px 0;
}










/* STYLE DE LA PAGE D'ACCUEIL */
.hero{
    background-image: url(../img/accueil/hero.webp);
    background-size: cover;
    background-position: center;
    padding: 140px 0;
    box-shadow: 0px 5px 10px 5px #504B47;
}
.title{
    font-size: 22px;
    font-weight: 600;
    color: #fff;
    padding: 20px 0;
}
.img-pres{
    background-image: url(../img/accueil/presentation.jpg);
    background-size: cover;
    background-position: center;
}
.actus-a{
    background-color: #504B47;
    padding: 50px 0;
}
.actus-a h2{
    color:#fff;
}
.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    } 
.div1 { grid-area: 1 / 1 / 2 / 4; }
.div2 { grid-area: 1 / 4 / 2 / 7; }
.div3 { grid-area: 1 / 7 / 2 / 10; }
.div4 { grid-area: 2 / 1 / 4 / 7; }
.div5 { grid-area: 1 / 10 / 3 / 13; }
.div6 { grid-area: 3 / 7 / 4 / 10; }
.div7 { grid-area: 3 / 10 / 4 / 13; }
.div8 { grid-area: 2 / 7 / 3 / 10; }

.contact-a{
    background-color: #504b47;
    color: #fff;
}
.contact-a p, .contact-a h3, .contact-a h2{
    color: #fff;
}

/* STYLE DE LA PAGE ASSOCIATION */

.valeurs{
    background-color: #FBD799;
}